body {
  position: relative;
  height: 100vh;
  max-width: 750px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  padding: 15px 25px;
}

.temperature {
  display: inline-block;
  min-width: 55px;
}

#current-date {
  margin-top: 0;
}

#weather-card {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 0.6;
  color: #fff;
  font-weight: bolder;
}

#cities {
  margin-bottom: 0;
}

#weather-description {
  text-transform: capitalize;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 10%;
  height: 10%;
  display: block;
  position: relative;
  margin: 50px auto;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.js-toggle-unit {
  text-decoration: none;
  margin-right: 8px;
  color: #fff;
}

.js-toggle-unit:hover {
  color: #0a58ca;
}

.float-left {
  float: left;
}
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.weather-details {
  font-size: 12px;
}
#weatherIcon {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}
#actualTemp {
  color: #fff;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.main-weather .buttons {
  position: relative;
  font-size: 16px;
  top: -34px;
  cursor: default;
  color: #fff;
}
.main-weather .active {
  color: #fff;
  cursor: default;
}
