body {
  position: relative;
  height: 100vh;
  max-width: 750px;
  margin: 0 auto;
}
.container {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
  padding: 15px 25px;
}
.buttons {
  display: inline-flex;
  vertical-align: top;
}
.js-toggle-unit:hover {
  text-decoration: dotted;
}

.temperature {
  display: inline-block;
  min-width: 55px;
}

#current-date {
  margin-top: 0;
  color: gray;
}
#cities {
  margin-bottom: 0;
}
#weather-description {
  text-transform: capitalize;
}
.spinner-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 10%;
  height: 10%;
  display: block;
  position: relative;
  margin: 50px auto;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.js-toggle-unit {
  text-decoration: none;
  margin-right: 15px;
}

.js-toggle-unit.active {
  color: darkblue;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
.weather-details {
  font-size: 12px;
}
